<template>
  <v-layout>
    <v-flex xs6 v-if="isUserLoggedIn">
      <h2>s</h2>
    </v-flex>

    <v-flex
      :class="{
        xs12: !isUserLoggedIn,
        xs6: isUserLoggedIn,
      }"
      class="ml-2"
    >
      <h2>{{ user.email }}</h2>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapState } from "vuex";

export default {
  components: {},
  computed: {
    ...mapState(["isUserLoggedIn", "user"]),
  },
  data() {
    return {};
  },
};
</script>

<style>
</style>